
body {
margin-top: 50px;
}



#docname{
    align-content: center;
    text-align: center;
}


#addition {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 100px);
    text-align: center;
    font-size: larger;
    background-color: aqua;
    border: 1px solid black;
    padding: 20px
}

#subtraction {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 100px);
    text-align: center;
    font-size: larger;
    background-color: coral;
    border: 1px solid black;
    padding: 20px
}
#multiplication {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 100px);
    text-align: center;
    font-size: larger;
    background-color: darkgreen;
    border: 1px solid black;
    padding: 20px
}
#division {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 100px);
    text-align: center;
    font-size: larger;
    background-color: darkorchid;
    border: 1px solid black;
    padding: 20px
}
#multiplication > button:hover {
    background-color: black;

}
#addition > button:hover {
    background-color: black;
}
#division > button:hover {
    background-color: black;
}
#subtraction > button:hover {
    background-color: black;
    play
}
body {
    background-image: url('https://media.giphy.com/media/10kABVanhwykJW/giphy.gif');
    background-repeat: round;
}
#compute{
    background-color: cornflowerblue;
}
#computes{
    background-color: cornflowerblue;
}
#computed{
    background-color: cornflowerblue;
}
#computem{
    background-color: cornflowerblue;
}
#docname{
    background-color: chartreuse; 
    justify-content: center;
    align-content: center;  
    
}

