
body {
margin-top: 50px;
}



#docname{
    align-content: center;
    text-align: center;
}


#addition {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 100px);
    text-align: center;
    font-size: larger;
    background-color: aqua;
    border: 1px solid black;
    padding: 20px
}
